@*@model IEnumerable<EasyPosting.Models.EP_POSTS>*@
@model PagedList.IPagedList<EasyPosting.Models.EP_POSTS>
@using PagedList.Mvc;
@using EasyPosting.Models
@{
    ViewBag.Title = "스토리지";
    Layout = "~/Views/Shared/_StorageLayout.cshtml";
}

@Styles.Render("~/Content/storage")
@Scripts.Render("~/bundles/storage")
@*<!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.RouteUrl(new { controller = "Home", action = "Index" })">EasyPosting+</a></li>
        <li class="active">스토리지</li>
    </ol>
    <!-- begin page-header -->
    <h1 class="page-header">나의 스토리지</h1>
    <!-- end page-header -->
    <!-- end breadcrumb -->*@
<div class="p-20">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-2 -->
        <div class="col-md-2">
            <div class="m-b-15">
                <button class="btn btn-primary" data-toggle="modal" data-target="#Upload"><i class="fa fa-plus"></i> 업로드</button>
            </div>  
            @using (Html.BeginForm("Attachment", "Storage", FormMethod.Post))
            {
                <div class="input-group m-b-15">
                    @Html.AntiForgeryToken()
                    @Html.TextBox("Search_Data", null, new { @required = "yes", @class = "form-control input-sm input-white", @placeholder = "스토리지 검색" })
                    @*<input type="text" class="form-control input-sm input-white" placeholder="스토리지 검색" />*@
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-inverse" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            }
            <div class="hidden-sm hidden-xs" id="options">
                <h5 class="m-t-20">스토리지</h5>
                <ul class="nav nav-pills nav-stacked nav-inbox">
                    <li><a href="@Url.RouteUrl(new { controller = "Storage", action = "Image"})"><i class="fa fa-inbox fa-fw m-r-5"></i> 이미지<span class="badge pull-right">@ViewBag.imagenum</span></a></li>
                    <li class="active"><a href="@Url.RouteUrl(new { controller = "Storage", action = "Attachment"})"><i class="fa fa-inbox fa-fw m-r-5"></i> 첨부파일<span class="badge pull-right">@ViewBag.attachnum</span></a></li>
                    <li><a href="@Url.RouteUrl(new { controller = "Storage", action = "Video"})"><i class="fa fa-pencil fa-fw m-r-5"></i> 동영상<span class="badge pull-right">@ViewBag.videonum</span></a></li>                
                </ul>
            </div>
        </div>
        <!-- end col-2 -->
        <!-- begin col-10 -->
        <div class="col-md-10">
            <div class="email-content">
                <table class="table table-email">
                    <thead>
                        <tr>
                            <th><p>파일명 </p></th>
                            <th><p>업로드 일자 </p></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) 
                    { 
                        <tr>
                            <td class="email-subject">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="email-date">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a class="item-delete" data-filename="@Html.DisplayFor(modelitem => item.Title)" data-name="@Html.DisplayFor(modelitem => item.ID)" href="#" data-click="email-remove"><i class="fa fa-trash-o"></i> 삭제</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="email-footer clearfix">
                    <center>
                        @Html.PagedListPager(Model, Page_No => Url.Action("Attachment", new { Page_No }))
                    </center> 
                </div>
            </div>
        </div>
        <!-- end col-10 -->
    </div>
</div>
<!-- 파일 첨부 모달 시작-->
<div class="modal fade in" id="Upload" tabindex="-1" role="dialog" aria-labelledby="Upload" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="Embed" name="Embed" src="/Storage/Embed" frameborder="0" width="100%" height="490" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
            </div>
            <div class="modal-footer">
                <button @*id ="closebutton"*@ type="button" onclick="window.location.reload()" class="btn btn-primary" data-dismiss="modal" id="mediaWidgetInsert">닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="DeleteMedia" tabindex="-1" role="dialog" aria-labelledby="DeleteMedia" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="DeleteMediaLabel">파일 삭제하기</h4>
            </div>
            <div class="modal-body">
                <p><span id="filenames"></span> 파일을 삭제하시겠습니까?</p>
                @using (Html.BeginForm("Delete", "Storage", FormMethod.Post, new { @id = "deleteform" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="id" id="delete_media_data" type="hidden" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="deletedata" class="btn btn-primary">삭제하기</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $('.item-delete').click(function () {
        var delval = $(this).attr('data-name');
        var delname = $(this).attr('data-filename');
        //console.log($(this).attr('data-name'));
        $('#delete_media_data').val(delval);
        $('#filenames').html(delname);
        $('#DeleteMedia').modal('show');
        //console.log($('#delete_media_data').val(delval));
    });
    $('#deletedata').click(function () {
        $('#deleteform').submit();
        $('#DeleteMedia').modal('hide');
    });
</script>