@model PagedList.IPagedList<EasyPosting.Models.EP_POSTS>
@using PagedList.Mvc;
@{
    ViewBag.Title = "검색";
    Layout = "~/Views/Shared/_StorageLayout.cshtml";
}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="@Url.RouteUrl(new { controller = "Home", action = "Index" })">EasyPosting+</a></li>
    <li><a href="@Url.RouteUrl(new { controller = "Storage", action = "Index" })">스토리지</a></li>
    <li class="active">검색</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">검색<small></small></h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <div class="result-container">
            @using (Html.BeginForm("Search", "Storage", FormMethod.Post))
            {
           
            <div class="input-group m-b-20">
                @Html.AntiForgeryToken()
                @Html.TextBox("Search_Data", null, new { @required = "yes", @class = "form-control input-white", @placeholder = "검색어를 입력하세요" })
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i> 검색</button>
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:;">Action</a></li>
                        <li><a href="javascript:;">Another action</a></li>
                        <li><a href="javascript:;">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Separated link</a></li>
                    </ul>
                </div>
            </div>
            }
            <div class="dropdown pull-left">
                <a href="javascript:;" class="btn btn-white btn-white-without-border dropdown-toggle" data-toggle="dropdown">
                    Filters by <span class="caret m-l-5"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Posted Date</a></li>
                    <li><a href="javascript:;">View Count</a></li>
                    <li><a href="javascript:;">Total View</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Location</a></li>
                </ul>
            </div>
            <div class="btn-group m-l-10 m-b-20">
                <a href="javascript:;" class="btn btn-white btn-white-without-border"><i class="fa fa-list"></i></a>
                <a href="javascript:;" class="btn btn-white btn-white-without-border"><i class="fa fa-th"></i></a>
                <a href="javascript:;" class="btn btn-white btn-white-without-border"><i class="fa fa-th-large"></i></a>
            </div>
            <ul class="pagination pagination-without-border pull-right m-t-0">
                @Html.PagedListPager(Model, Page_No => Url.Action("Search", new { Page_No }))
            </ul>
            <ul class="result-list">
            @foreach (var item in Model)
            {
                <li>
                    <div class="result-image">
                        <a href="javascript:;"><img src="assets/img/gallery/gallery-1.jpg" alt="" /></a>
                    </div>
                    <div class="result-info">
                        <h4 class="title"><a href="javascript:;">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                        <p class="location">@Html.DisplayFor(modelItem => item.Date)</p>
                        <p class="desc"> </p>
                        <div class="btn-row">
                            <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Analytics"><i class="fa fa-fw fa-bar-chart-o"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Tasks"><i class="fa fa-fw fa-tasks"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Configuration"><i class="fa fa-fw fa-cog"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Performance"><i class="fa fa-fw fa-tachometer"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Users"><i class="fa fa-fw fa-user"></i></a>
                        </div>
                    </div>
                    <div class="result-price">
                        <a href="javascript:;" class="btn btn-inverse btn-block">보기</a>
                        <a href="javascript:;" class="btn btn-inverse btn-block">편집</a>
                        <a href="javascript:;" class="btn btn-inverse btn-block">삭제</a>
                        <a href="javascript:;" class="btn btn-inverse btn-block">포스팅</a>
                    </div>
                </li>
            }
            </ul>
            <div class="clearfix">
                <ul class="pagination pagination-without-border pull-right">
                    @Html.PagedListPager(Model, Page_No => Url.Action("Search", new { Page_No }))
                </ul>
            </div>
        </div>
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->